In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

  How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [10]:
race_count = df['race'].value_counts()

In [11]:
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

  What is the average age of men?

In [17]:
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)

In [18]:
print(average_age_men)

39.4

  What is the percentage of people who have a Bachelor's degree?

In [24]:
percentage_bachelors = round(((df['education'] == 'Bachelors').sum() / len(df) * 100), 1)

In [25]:
print(percentage_bachelors)

16.4

  What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

  What percentage of people without advanced education make more than 50K?

In [28]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

  percentage with salary >50K

In [37]:
higher_education_rich = round(((higher_education['salary'] == '>50K').sum() / len(higher_education) * 100), 1)
lower_education_rich = round(((lower_education['salary'] == '>50K').sum() / len(lower_education) * 100), 1)

In [34]:
print(higher_education_rich)
print(lower_education_rich)

46.5
17.4

  What is the minimum number of hours a person works per week (hours-per-week feature)?

In [35]:
min_work_hours = df['hours-per-week'].min()

In [38]:
print(min_work_hours)

1

  What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [42]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]
print(num_min_workers)

       age         workclass  fnlwgt     education  education-num  \
189     58         State-gov  109567     Doctorate             16
1036    66      Self-emp-inc  150726           9th              5
1262    69                 ?  195779     Assoc-voc             11
5590    78                 ?  363134       HS-grad              9
5632    45                 ?  189564       Masters             14
5766    62                 ?   97231  Some-college             10
5808    76                 ?  211574          10th              6
8447    67                 ?  244122     Assoc-voc             11
9147    75                 ?  260543          10th              6
11451   27           Private  147951       HS-grad              9
19337   72                 ?   76860       HS-grad              9
19750   23           Private   72887       HS-grad              9
20072   65                 ?   76043       HS-grad              9
20909   77  Self-emp-not-inc   71676  Some-college             10
22960   21           Private  184135       HS-grad              9
23536   69                 ?  320280  Some-college             10
24284   57  Self-emp-not-inc   56480       HS-grad              9
25078   74           Private  260669          10th              6
29752   69                 ?  117525    Assoc-acdm             12
32525   81                 ?  120478     Assoc-voc             11

           marital-status         occupation    relationship  \
189    Married-civ-spouse     Prof-specialty         Husband
1036   Married-civ-spouse    Exec-managerial         Husband
1262              Widowed                  ?   Not-in-family
5590              Widowed                  ?   Not-in-family
5632   Married-civ-spouse                  ?            Wife
5766   Married-civ-spouse                  ?            Wife
5808   Married-civ-spouse                  ?         Husband
8447              Widowed                  ?   Not-in-family
9147              Widowed                  ?  Other-relative
11451       Never-married  Machine-op-inspct  Other-relative
19337  Married-civ-spouse                  ?         Husband
19750       Never-married       Craft-repair       Own-child
20072  Married-civ-spouse                  ?         Husband
20909             Widowed       Adm-clerical   Not-in-family
22960       Never-married  Machine-op-inspct       Own-child
23536       Never-married                  ?   Not-in-family
24284  Married-civ-spouse    Exec-managerial         Husband
25078            Divorced      Other-service   Not-in-family
29752            Divorced                  ?       Unmarried
32525            Divorced                  ?       Unmarried

                     race     sex  capital-gain  capital-loss  hours-per-week  \
189                 White    Male             0             0               1
1036                White    Male          1409             0               1
1262                White  Female             0             0               1
5590                White  Female             0             0               1
5632                White  Female             0             0               1
5766                White  Female             0             0               1
5808                White    Male             0             0               1
8447                White  Female             0             0               1
9147   Asian-Pac-Islander  Female             0             0               1
11451               White    Male             0             0               1
19337  Asian-Pac-Islander    Male             0             0               1
19750  Asian-Pac-Islander    Male             0             0               1
20072               White    Male             0             0               1
20909               White  Female             0          1944               1
22960               Black    Male             0             0               1
23536               White    Male          1848             0               1
24284               White    Male             0             0               1
25078               White  Female             0             0               1
29752               White  Female             0             0               1
32525               White  Female             0             0               1

      native-country salary
189    United-States   >50K
1036               ?  <=50K
1262   United-States  <=50K
5590   United-States  <=50K
5632   United-States  <=50K
5766   United-States  <=50K
5808   United-States  <=50K
8447   United-States  <=50K
9147           China  <=50K
11451  United-States  <=50K
19337  United-States  <=50K
19750        Vietnam  <=50K
20072  United-States   >50K
20909  United-States  <=50K
22960  United-States  <=50K
23536  United-States  <=50K
24284  United-States  <=50K
25078  United-States  <=50K
29752  United-States  <=50K
32525              ?  <=50K

In [43]:
rich_percentage = round(((num_min_workers['salary'] == '>50K').sum() / len(num_min_workers) * 100), 1)
print(rich_percentage)

10.0

  What country has the highest percentage of people that earn >50K?

In [51]:
highest_earning_country = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts().fillna(0) * 100).idxmax()

In [52]:
print(highest_earning_country)

Iran

In [53]:
highest_earning_country_percentage = round((df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts().fillna(0) * 100).max(), 1)

In [54]:
print(highest_earning_country_percentage)

41.9

  Identify the most popular occupation for those who earn >50K in India.

In [55]:
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()

In [56]:
print(top_IN_occupation)

Prof-specialty